
.vs/Elementalworld/project-colors.json
.vs/Elementalworld/v17/.suo
.vs/Elementalworld/v17/Current/Browse.VC.db
.vs/Elementalworld/v17/Current/ipch/AutoPCH/1a3e1d21b855968b/MAIN.ipch
.vs/Elementalworld/v17/Current/ipch/AutoPCH/1c6867c8dd4770ad/CONSOLE.ipch
.vs/Elementalworld/v17/Current/ipch/AutoPCH/260b806bca7a7ff8/MAIN.ipch
.vs/Elementalworld/v17/Current/ipch/AutoPCH/565a196941f5e024/MAIN.ipch
.vs/Elementalworld/v17/Current/ipch/AutoPCH/72a1f2c4186d2f48/PCH.ipch
.vs/Elementalworld/v17/Current/ipch/AutoPCH/8dec28c0e391aafc/WORLD.ipch
.vs/Elementalworld/v17/fileList.bin
