#title {
  margin-left: 150px;
  font: Minecraft;
}
#center {
  margin-top: auto;
  font: Minecraft;
}
#btn {
  margin-top: 30px;
  background-color: red;
  display: inline-block;
  padding: 19px;
  font-size: 17px;
  border: 9px;
  border-color: black;
  font: Minecraft;
}
#btn:hover {
  background-color: blue;
  padding: 19px;
  color: red;
  font: Minecraft;
}
#textBox{
  background-color: red;
  color: white;
  font: Minecraft;
}

#textBox2{
  background-color: red;
  color: white;
  margin-left: 19px;
  font: Minecraft;
}

#chatTextbox{
  background-color: red;
  color: white;
  font: Minecraft;
}

#crosshair {
  display: block;
  margin: auto;
}

#debug_info {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  font: Minecraft;
}