#title {
  margin-left: 150px;
  font: Minecraft;
}
#center {
  margin-top: auto;
  font: Minecraft;
}
#btn {
  margin-top: 30px;
  background-color: red;
  display: inline-block;
  padding: 19px;
  font-size: 17px;
  border: 9px;
  border-color: black;
  font: Minecraft;
}
#btn:hover {
  background-color: blue;
  padding: 19px;
  color: red;
  font: Minecraft;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
}

#debug_info {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  font: Minecraft;
}